<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476161322544-0i4cju4esqb90gujn8n494bb6vfhs9ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476161322544-0i4cju4esqb90gujn8n494bb6vfhs9ov</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>476161322544-mj13ateb53n2n039kboa1r4pulos1r94.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArrOEuHxDfzAtSBqbf7wS8A8C06knArSM</string>
	<key>GCM_SENDER_ID</key>
	<string>476161322544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dtavarez.qrider</string>
	<key>PROJECT_ID</key>
	<string>qriderrd</string>
	<key>STORAGE_BUCKET</key>
	<string>qriderrd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476161322544:ios:926b4b207713e3c78887f5</string>
</dict>
</plist>